body {
    background-color: #131313;
    color: #ffffff;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

.middle-line {
    background: linear-gradient(#46c5bc, #46c5bc) no-repeat center/2px 100%;
    z-index: -1;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.container {
    border:  2px solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 0 20px;
}


.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.stack {
    display: flex;
}

.stack > p {
    border:  2px solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}


.stack:nth-child(2) {
    transition-delay: 200ms;
}
.stack:nth-child(3) {
    transition-delay: 400ms;
}
.stack:nth-child(4) {
    transition-delay: 800ms;
}
.stack:nth-child(5) {
    transition-delay: 1600ms;
}

.pull-right {
    text-align: right;
}

.align-left {
	float: left;
}
.align-right {
	float: right;
}